.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-color: blue;
  background-color: pink;
}

.inpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-style: solid;
  border-color: seagreen;
  width: 30vw;
  height: 20vh;
  background-color: chocolate;
}

.inpTab {
  width: 11vw;
  
  display: flex;
  align-content: space-between;
  /*justify-content: space-between;*/
  background-color:wheat  ;
  text-decoration: white;
}

.inpForm {
  /*display: flex;
  align-content: space-around;
  align-items: center;*/
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.subGroc {
  width: 20vw; 
  height: 5vh;
  margin: 10%;
  background-color: blue;
}
.subContainer {
  display: flex;
  justify-content: space-between;
}
.grocContainer{
  display: flex;
  border-style: solid;
  border-color: red;
  width: 30vw;
}



.printList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}